<h1>Shopping cart</h1>

<div id="card">
    {{#if courses.length}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {{#each courses}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p><strong>Price:</strong> <span class="price">{{price}}</span></p>

        <form action="/orders" method="POST">
            <button type="submit" class="btn">Make an order</button>
        </form>
    {{else}}
        <p>Shopping cart is empty! Go to the courses and chose any!</p>
    {{/if}}
</div>
